<app-header></app-header>
<div class="col">
    <nav aria-label="breadcrumb" class="brCr">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Feedback</li>
        </ol>
    </nav>
    <div class="container">
        <h1>Tiếp nhận phản ánh kiến nghị</h1>
        <div style="display: inline-block;">Citizen id</div>
        <div style="display: inline-block;">
            <mdb-form-control>
                <input mdbInput type="text" id="typeText" class="form-control" />
                <label mdbLabel class="form-label" for="typeText">Citizen id</label>
              </mdb-form-control>
        </div>
        <br>
        <div style="display: inline-block;">Address</div>
        <select id="city" (change)="changeCity($event)">
            <option *ngFor="let d of data" value="{{ d.city }}">
              {{ d.city }}
            </option>
          </select>
          <br />
          Quận / Huyện:
          <select id="district">
            <option *ngFor="let district of districts" value="{{ district }}">
              {{ district }}
            </option>
          </select>
          <input class="billing_address_1" name="" type="hidden" value="">
          <input class="billing_address_2" name="" type="hidden" value="">
    </div>
</div>
