footer {
  max-height: 10%;
  background-color: #913938;
  color: #fff;
  width: 100%;
  margin-left: 0px;
  padding-top:12px;
  padding-bottom: 12px;
  padding-left: 150px;
  position: absolute;
  bottom: 0;
  position: relative;
}
p {
  font-size: 16px;
  display: inline;
  padding: 0 30px;
}
