.brCr{
    font-size: 17px;
    margin: 20px 0;
}
.col{
    margin-left: 140px;
    max-width: 82%;
    padding-bottom: 30px;
}
.main-title {
    margin-top: 40px;
}
h1{
    font-size: 28px;
    margin-bottom: 20px;
}
p{
    margin-top: 20px;
    font-size: 18px;
    line-height: 24px;
    text-align: justify;
    word-wrap: break-word;
    color: #656769;
}
img{
    display: inline;
    max-width: 100%;
}
.row{
    margin-top: 40px;
    margin-bottom: 20px;
}
.col-md{
    padding: 15px;
}
.slogan{
    background-color: #f7e2c2;
    height: 216px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    border-radius: 6px;
}
.pslo{
    font-size: 21px;
    text-align: center;
    width: 800px;
    color: black;
    margin-top: 77px;
}