<app-header></app-header>
<div class="col">
    <nav aria-label="breadcrumb" class="brCr">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About</li>
        </ol>
    </nav>    
    <h1 class="main-title -none">Giới thiệu về Cổng Dịch vụ công Quốc gia</h1>
    <img src="https://dichvucong.gov.vn/general/gioi-thieu-slider.png">
    <p>Với quan điểm công khai, minh bạch, lấy người dân, doanh nghiệp làm trung tâm phục vụ, Cổng Dịch vụ công Quốc gia kết nối, cung cấp thông tin về thủ tục hành chính và dịch vụ công trực tuyến; hỗ trợ thực hiện, giám sát, đánh giá việc giải quyết thủ tục hành chính, dịch vụ công trực tuyến và tiếp nhận, xử lý phản ánh, kiến nghị của cá nhân, tổ chức trên toàn quốc.</p>
    <p>Cá nhân, tổ chức dễ dàng truy cập Cổng Dịch vụ công Quốc gia tại địa chỉ duy nhất www.dichvucong.gov.vn theo nhu cầu người dùng từ máy tính, máy tính bảng hoặc điện thoại di động được kết nối internet để hưởng nhiều lợi ích từ Cổng Dịch vụ công Quốc gia, như:</p>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="icon"> 
                    <img src="https://dichvucong.gov.vn/p/home/theme/img/gioithieu/truyvan.svg"> 
                </div> 
                <p>Được hỗ trợ truy vấn thông tin của cá nhân, tổ chức lưu trữ tại các Cơ sở dữ liệu, Hệ thống thông tin đã tích hợp với Cổng Dịch vụ công Quốc gia bao gồm thông tin công dân, tiền án tiền sự của bản thân, thông tin cơ bản của các thành viên có trong hộ khẩu.</p>
            </div>
            <div class="col-md">
                <div class="icon"> 
                    <img src="https://dichvucong.gov.vn/p/home/theme/img/gioithieu/timkiem.svg"> 
                </div> 
                <p>Tra cứu thông tin, xem thông tin cơ bản của lãnh đạo nhà nước, cơ quan có thẩm quyền tại địa phương và trên cả nước.</p>
            </div>
            <div class="col-md">
                <div class="icon"> 
                    <img src="https://dichvucong.gov.vn/p/home/theme/img/gioithieu/denghi.svg"> 
                </div> 
                <p>Cho phép gửi yêu cầu thông qua hệ thống để công chứng, xác nhận các giấy tờ, tạo đơn khiếu nại,…</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="icon"> 
                    <img src="https://dichvucong.gov.vn/p/home/theme/img/gioithieu/payment.svg"> 
                </div> 
                <p>
                    Cho phép chọn thời gian để đặt lịch hẹn với các  Bộ, ngành, địa phương có thẩm quyền để giải quyết các vấn đề, thủ tục hành chính.
                </p>
            </div>
            <div class="col-md">
                <div class="icon"> 
                    <img src="https://dichvucong.gov.vn/p/home/theme/img/gioithieu/chiase.svg"> 
                </div> 
                <p>
                    Nhận thông báo từ cơ quan nhà nước các vấn đề kinh tế, xã hội, chính trị, các thay đổi trong luật pháp,…;thông báo cho các yêu cầu được xử lý, thời gian nhận các giấy tờ đăng ký công chứng hoặc chờ xử lý,…
                </p>
            </div>
            <div class="col-md">
                <div class="icon"> 
                    <img src="https://dichvucong.gov.vn/p/home/theme/img/gioithieu/danhgia.svg"> 
                </div> 
                <p>
                    Đánh giá sự hài lòng trong giải quyết thủ tục hành chính;ghi lại những ý kiến phản hồi về hệ thống, cán bộ cơ quan chính quyền để có điều chỉnh thích hợp.
                </p>
            </div>
          </div>
    </div>
    <div class="slogan">
        <p class="pslo">Các Bộ, ngành, địa phương nỗ lực cùng với sự tham gia tích cực của người dân và doanh nghiệp trong vận hành Cổng Dịch vụ công Quốc gia là góp phần xây dựng Chính phủ liêm chính, hành động, phát triển, phục vụ Nhân Dân</p>
    </div>
</div>